body {
    background-color: #b1c9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.form-container{
    background-color: #e3e9fc;
    border: 1px solid #020005;
    border-radius: 5px;
    padding: 20px;

    box-shadow: 0 2px 10px rgba(231, 48, 48, 0.1);
    width: 300px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

