body {
    background: url(https://img.freepik.com/free-photo/butterfly-blossom_23-2150636355.jpg?w=996&t=st=1729498202~exp=1729498802~hmac=abdefbfcaac48f447e35267fcf5a7c719ca2a3f4e9e617cdd0fee91df3a26dfe);
    display: flex;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}


.form-container{
    background-color: #e3e9fc;
    opacity: 80%;
    border: 1px solid #020005;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(231, 48, 48, 0.1);
    width: 350px;
    height: 600px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

button {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
button:hover {
    background-color: rgb(51, 1, 68);
    color: white;
  }
  
#reset{
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

#reset:hover {
    background-color: rgb(51, 1, 68);
    color: white;
  }