*{
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.box {
    width: 400px;
    height: 500px;
    background-color: #002035;
    border: 2px solid #000000;
    margin: 50px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px rgb(35, 35, 35);
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 320px;
    height: 90px;
    background-color: #bae0fa;
    border: 3px solid #000000;
    margin: 50px auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    border: #000000;
    width:10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px; 
    width: 320px;
    height: 200px;
    margin: 50px auto;
    margin-top: 30px;
}

.buttons2 {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px; 
    width: 320px;
   
}

.button2 button {
    width: 138px; 
    height: 40px; 
    background-color: #3498db; 
    color: #fff; 
    border: none; 
    font-size: 1rem; 
    cursor: pointer;
    margin-left: 40px;
    
}

#result {
    font-size: 24px;
    margin-top: 10px;
}